@charset "UTF-8";
.tt_search{
    margin-top: 10px;
    padding: 0 10px;
}
.tt_search .form_group{
    position: relative;
}
.tt_search input{
    height: 34px;
    border: 1px solid #069;
    font-size: 12px;
    border-radius: 6px;
}
.tt_search .form_group button{
    border-radius: 0 6px 6px 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #069;
    color: #fff;
    height: 34px;
    border: 1px solid #069;
    font-size: 12px;
    width: 60px;
}
.tt_searchRecord{
    padding: 0 10px;
    color: #999;
    font-size: 12px;
}
.tt_searchRecord ul{
    margin-top: 10px;
    list-style: none;
}
.tt_searchRecord ul li{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border: 1px dashed #ccc;
    border-bottom: 0;
}
.tt_searchRecord ul li:last-child{
    border-bottom: 1px dashed #ccc;
}