<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>wjs</title>

    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.min.js"></script>
    <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <!--头部-->
    <header class="wjs_top hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="javascript:;" class="wjs_app">
                        <span class="wjs_icon wjs_icon_phone"></span>
                        <span>手机微金所</span>
                        <span class="glyphicon glyphicon-menu-down"></span>
                        <img src="images/code.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <span class="wjs_icon wjs_icon_tel"></span>
                    <span> 4006-89-4006（服务时间：9:00-21:00）</span>
                </div>
                <div class="col-md-2">
                    <a href="">常见问题</a>
                    <a href="">财富登陆</a>
                </div>
                <div class="col-md-3">
                    <a href="" class="btn btn_register">免费注册</a>
                    <a href="">登录</a>
                </div>
            </div>
        </div>
    </header>
    <!--导航-->
    <!--<nav class="wjs_nav navbar navbar-default" data-spy="affix" data-offset-top="100">-->
    <nav class="wjs_nav navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="wjs_icon wjs_icon_logo"></span>
                    <span class="wjs_icon wjs_icon_name"></span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">我要投资</a></li>
                    <li><a href="#">我要借贷</a></li>
                    <li><a href="#">平台介绍</a></li>
                    <li><a href="#">新手专区</a></li>
                    <li><a href="#">最新动态</a></li>
                    <li><a href="#">微平台</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm">
                    <li><a href="#">个人中心</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--banner-->
    <section class="banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">

            </ol>
            <div class="carousel-inner" role="listbox">

            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
    </section>
    <!--信息-->
    <section class="wjs_info hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <a href="">
                        <span class="wjs_icon wjs_icon_dollar"></span>
                        <div>
                            <h4 class="media-heading">支付交易保障</h4>
                            <p>银联支付全称保证支付安全</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="">
                        <span class="wjs_icon wjs_icon_dollar"></span>
                        <div>
                            <h4 class="media-heading">支付交易保障</h4>
                            <p>银联支付全称保证支付安全</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="">
                        <span class="wjs_icon wjs_icon_dollar"></span>
                        <div>
                            <h4 class="media-heading">支付交易保障</h4>
                            <p>银联支付全称保证支付安全</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="">
                        <span class="wjs_icon wjs_icon_dollar"></span>
                        <div>
                            <h4 class="media-heading">支付交易保障</h4>
                            <p>银联支付全称保证支付安全</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="">
                        <span class="wjs_icon wjs_icon_dollar"></span>
                        <div>
                            <h4 class="media-heading">支付交易保障</h4>
                            <p>银联支付全称保证支付安全</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="">
                        <span class="wjs_icon wjs_icon_dollar"></span>
                        <div>
                            <h4 class="media-heading">支付交易保障</h4>
                            <p>银联支付全称保证支付安全</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--预约-->
    <section class="wjs_yy">
        <div class="container">
            <div class="left">
                <span class="wjs_icon wjs_icon_clock"></span>
                现在有 273 人在排队，累计预约交易成功 7571 次。 什么是预约投标？
                <a class="book" href="#">立即预约</a>
            </div>
            <div class="right hidden-xs">
                <a class="video" href="#"><span class="wjs_icon wjs_icon_video"></span> 微金所企业宣传片</a>
            </div>
        </div>
    </section>
    <script type="text/template" id="imageT">
        <% for(var i = 0 ; i < list.length ; i++){ %>
        <div class="item <%=i==0?'active':'' %>">
            <% if(isM){ %>
            <a href="" class="m"><img src="<%=list[i].mUrl %>" alt=""></a>
            <% }else{ %>
            <a href="" class="p" style="background-image: url(<%=list[i].pcUrl %>)"></a>
            <% } %>
        </div>
        <% } %>
    </script>
    <script type="text/template" id="dian">
        <% for(var i = 0 ; i < list.length ; i++){ %>
        <li data-target="#carousel-example-generic" data-slide-to="<%=i %>"  class="<%=i==0?'active':''%>" ></li>
        <% } %>
    </script>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/artTemplate/template-native.js"></script>
    <script src="lib/iscroll/iscroll.js"></script>
    <script src="js/index.js"></script>
</body>
</html>