<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>taotao</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.css"/>
    <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/category.css">
</head>
<body>
<div class="tt_container">
    <header class="tt_topbar">
        <a class="btn_left" href="javascript:history.back();"><span class="mui-icon mui-icon mui-icon-arrowleft"></span></a>
        <h3>乐淘分类</h3>
        <a class="btn_right" href="search.html"><span class="fa fa-search"></span></a>
    </header>
    <div class="tt_content">
        <div class="tt_warp">
            <div class="tt_left">
                <ul>
                    <!--<li class="now"><a href="">运动馆</a></li>-->
                    <!--<li><a href="">男士馆</a></li>-->
                    <!--<li><a href="">女士馆</a></li>-->
                    <!--<li><a href="">帆布馆</a></li>-->
                    <!--<li><a href="">户外营</a></li>-->
                </ul>
            </div>
            <div class="tt_right">
                <ul>
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<img src="/mobile/images/brand2.png" onerror="this.src = 'images/none.jpg' " alt="">-->
                            <!--<p>阿迪</p>-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
    <footer class="tt_footer">
        <a href="index.html">
            <span class="fa fa-home"></span>
            <p>首页</p>
        </a>
        <a href="category.html">
            <span class="fa fa-bars"></span>
            <p>分类</p>
        </a>
        <a href="user/cart.html">
            <span class="fa fa-shopping-cart"></span>
            <p>购物车</p>
        </a>
        <a href="user/index.html">
            <span class="fa fa-user"></span>
            <p>会员中心</p>
        </a>
    </footer>
</div>
<script id="firstCategory" type="text/template">
<% for(var i = 0; i < rows.length; ++i){ %>
    <li data-id="<%=rows[i].id%>" class="<%=i==0?'now':''%>"><a href="javascript:;"><%=rows[i].categoryName%></a></li>
<% } %>
</script>
<script id="secondCategory" type="text/template">
    <%if(rows.length == 0){%>
    <p style="padding: 10px">暂时没有分类数据</p>
    <%}else{%>
        <% for(var i = 0; i < rows.length; ++i){ %>
            <li>
                <a href="#">
                    <img src="<%=rows[i].brandLogo%>" alt="">
                    <p><%=rows[i].brandName%></p>
                </a>
            </li>
        <% } %>
    <% } %>
</script>
<script src="assets/mui/js/mui.js"></script>
<script src="assets/zepto/zepto.min.js"></script>
<script src="assets/artTemplate/template-native.js"></script>
<script src="js/common.js"></script>
<script src="js/category.js"></script>
</body>
</html>